In [33]:
# Functions with one default argument

In [32]:
# Example for defining a function to join two words with one default argument

def data(word, echo=0):
    word = word * echo
    full = word + "science"
    return full
store = data("data", echo=1)
print(store)

datascience

In [42]:
# Functions with variable length arguments

def phrase(*args):
    container = ''
    for word in args:
        container += word
    
    return container

single = phrase("Test")
multiple = phrase("Test1","Test2","Test3")
print(single)
print(multiple)

Test
Test1Test2Test3

In [47]:
# Functions with variable length keyword lenght arguments

def profile_report(**kwargs):
    print("\n Begin : Report\n")
    # Iterate over the key-value pairs of kwargs
    for key,value in kwargs.items():
        print(key + " : " + value)
    print("\n End : Report\n")

profile_report(Name = "Parth", Role = "SDE", Salary = "1,00,000")

 Begin : Report

Name : Parth
Role : SDE
Salary : 1,00,000

 End : Report

In [4]:
import numpy as np
import pandas as pd
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
# Define count_entries()
def count_entries(df,col_name='Geography'):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1

        # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(df, col_name='Geography')

# Call count_entries(): result2
result2 = count_entries(df, col_name='Gender')

# Print result1 and result2
print(result1)
print(result2)

{'France': 5014, 'Spain': 2477, 'Germany': 2509}
{'Female': 4543, 'Male': 5457}

In [20]:
# Instead of calling the function for every column you can write your function as below 
# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(df, 'Geography')

# Call count_entries(): result2
result2 = count_entries(df, "Geography", "Gender")

# Print result1 and result2
print(result1)
print(result2)

{'France': 5014, 'Spain': 2477, 'Germany': 2509}
{'France': 5014, 'Spain': 2477, 'Germany': 2509, 'Female': 4543, 'Male': 5457}